# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
# Cloudflare Workers 자동 생성 파일들
dist/_worker.js/
_worker.js

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Cloudflare
.wrangler/
